<p>childlentとは</p>

<div class="service">
  <p>あなたは、お子様が作った作品をどのように保管されていますか。<br />おもちゃ箱や、作品専用のボックスでしょうか。<br />一つ一つが大事な作品ですから、できるだけ取っておきたいものですよね。<br />でも、保管スペースは限られています。<br /><br />そんな悩みを抱えられているあなたに。<br />ご提案したいのが、childlentのサービス内に作品をアップするということ。<br /><br />そうすることで、自然とお子様の写真をデジタルカメラやスマホに残すことができます。<br />残した作品は、PCや外部のストレージサービスなどにしっかりと保管しておくのが良いでしょう。<br /><br />ただ、作品を一度に閲覧したい時には、childlent内にアップしてみてください。<br />お子様の作品を、タイトル付きで閲覧することができます。<br /><br />他の利用者が、あなたのお子様の作品を気に入れば、様々な評価を受けることができます。<br />良いカタチ、良い色など、お子様の作品が評価されることは、あなたもお子様自身も嬉しいことでしょう。<br /><br />さあ、あなたのお子様の作品を、まずは一つchildlentにアップしてみましょう。</p>
</div>